# 1. What is Data Integration

Data Integration is the process of combining data from multiple sources into a single, unified dataset. This is often the next step after cleaning individual datasets, especially if you’re working on larger projects or machine learning pipelines

# Ways to do Data integration

Concatenation / Appending – stacking datasets vertically (more rows).

Merging / Joining – combining datasets horizontally (more columns) based on a key.

Aggregation / Grouping – summarizing multiple datasets or tables.

Database Integration – pulling data from SQL, NoSQL, or APIs into a unified table.

# 1. Concatenation / Appending – stacking datasets vertically (more rows).

## Condition : multiple datasets with the same columns with same dtypes ( column name )

In [14]:
import pandas as pd

# Dataset 1
df_regionA = pd.DataFrame({
    'Car_ID': [1, 2],
    'Model': ['A', 'B'],
    'Price': [15000, 20000],
    'KM': [5000, 7000],
    'FuelType': ['Petrol', 'Diesel']
})

# Dataset 2
df_regionB = pd.DataFrame({
    'Car_ID': [3, 4],
    'Model': ['C', 'D'],
    'Price': [18000, 22000],
    'KM': [6000, 8000],
    'FuelType': ['Petrol', 'Diesel']
})

In [15]:
# Check wether the column name in both dataset is same 
print(df_regionA.columns)
print(df_regionB.columns)

# Concatenate vertically
df_all = pd.concat([df_regionA, df_regionB], ignore_index=True)
print(df_all)

Index(['Car_ID', 'Model', 'Price', 'KM', 'FuelType'], dtype='object')
Index(['Car_ID', 'Model', 'Price', 'KM', 'FuelType'], dtype='object')
   Car_ID Model  Price    KM FuelType
0       1     A  15000  5000   Petrol
1       2     B  20000  7000   Diesel
2       3     C  18000  6000   Petrol
3       4     D  22000  8000   Diesel

# 2. Merging / Joining – combining datasets horizontally (more columns) based on a key.

| Condition             | Requirement / Action                     |
| --------------------- | ---------------------------------------- |
| Common Key Column     | Must exist in both datasets              |
| Key Column Names      | Must match or rename                     |
| Key Data Types        | Must be compatible (int, str)            |
| Unmatched Rows        | Decide join type: inner/left/right/outer |
| Duplicate Keys        | Avoid or handle duplicates               |
| Column Name Conflicts | Use suffixes or rename columns           |

In [16]:
import pandas as pd

# Dataset 1
df_prices = pd.DataFrame({
    'Car_ID': [1, 2, 3],
    'Model': ['A', 'B', 'C'],
    'Price': [15000, 20000, 18000],
    'KM': [5000, 7000, 6000],
    'FuelType': ['Petrol', 'Diesel', 'Petrol']
})

# Dataset 2
df_features = pd.DataFrame({
    'ID': [1, 2, 4],
    'HP': [100, 110, 130],
    'Weight': [1200, 1500, 1600],
    'Automatic': [0, 1, 1]
})

In [ ]:
# Check wether the column name in both dataset is same 
print(df_prices.columns)
print(df_features.columns)

# Rename columns so key column names match:
df_features.rename(columns={'ID': 'Car_ID'}, inplace=True)

# Check wether the column name in both dataset is same 
print(df_prices.columns)
print(df_features.columns)

# Inner merge (only matched rows) - no nan values rows
df_inner = pd.merge(df_prices, df_features, on='Car_ID', how='inner')
print(df_inner)

# Left merge (all rows from df_prices, fill missing features) - nan values of right
df_left = pd.merge(df_prices, df_features, on='Car_ID', how='left')
print(df_left)

# Right merge (all rows from df_prices, fill missing features) - nan values of left
df_right = pd.merge(df_prices, df_features, on='Car_ID', how='right')
print(df_right)

# Outer merge (all rows from both datasets) - nan values of both left and right
df_outer = pd.merge(df_prices, df_features, on='Car_ID', how='outer')
print(df_outer)

Index(['Car_ID', 'Model', 'Price', 'KM', 'FuelType'], dtype='object')
Index(['ID', 'HP', 'Weight', 'Automatic'], dtype='object')
Index(['Car_ID', 'Model', 'Price', 'KM', 'FuelType'], dtype='object')
Index(['Car_ID', 'HP', 'Weight', 'Automatic'], dtype='object')
   Car_ID Model  Price    KM FuelType   HP  Weight  Automatic
0       1     A  15000  5000   Petrol  100    1200          0
1       2     B  20000  7000   Diesel  110    1500          1
   Car_ID Model  Price    KM FuelType     HP  Weight  Automatic
0       1     A  15000  5000   Petrol  100.0  1200.0        0.0
1       2     B  20000  7000   Diesel  110.0  1500.0        1.0
2       3     C  18000  6000   Petrol    NaN     NaN        NaN
   Car_ID Model    Price      KM FuelType   HP  Weight  Automatic
0       1     A  15000.0  5000.0   Petrol  100    1200          0
1       2     B  20000.0  7000.0   Diesel  110    1500          1
2       4   NaN      NaN     NaN      NaN  130    1600          1
   Car_ID Model    Price      KM FuelType     HP  Weight  Automatic
0       1     A  15000.0  5000.0   Petrol  100.0  1200.0        0.0
1       2     B  20000.0  7000.0   Diesel  110.0  1500.0        1.0
2       3     C  18000.0  6000.0   Petrol    NaN     NaN        NaN
3       4   NaN      NaN     NaN      NaN  130.0  1600.0        1.0

# 3. Aggregation / Grouping 

Purpose:

To group rows by a key or category and calculate summary statistics such as sum, mean, count, max, min, etc.

Often used to analyze trends or summarize large datasets.

Example scenario:
We have a cars dataset and we want to know:

Average price per fuel type

Total HP per model

Count of cars per automatic/manual type

In [18]:
import pandas as pd


# Step 1: Sample dataset

df_cars = pd.DataFrame({
    'Car_ID': [1, 2, 3, 4, 5, 6],
    'Model': ['A', 'B', 'A', 'C', 'B', 'C'],
    'Price': [15000, 20000, 16000, 22000, 21000, 23000],
    'FuelType': ['Petrol', 'Diesel', 'Petrol', 'Diesel', 'Diesel', 'Petrol'],
    'HP': [100, 110, 105, 120, 115, 130],
    'Automatic': [0, 1, 0, 1, 1, 0]
})

# Preview dataset
print("Original Dataset:\n", df_cars, "\n")

# Step 2: Group by single column
# Average price per FuelType
grouped_fuel = df_cars.groupby('FuelType')['Price'].mean().reset_index()
print("Average Price per FuelType:\n", grouped_fuel, "\n")

# Step 3: Group by multiple columns
# Average price per Model and FuelType
grouped_model_fuel = df_cars.groupby(['Model', 'FuelType'])['Price'].mean().reset_index()
print("Average Price per Model and FuelType:\n", grouped_model_fuel, "\n")

# Step 4: Multiple aggregation functions
# Aggregating Price, HP, and count of cars
agg_stats = df_cars.groupby('FuelType').agg({
    'Price': ['mean', 'max', 'min', 'sum'],
    'HP': 'mean',
    'Car_ID': 'count'
}).reset_index()

print("Aggregated Statistics per FuelType:\n", agg_stats, "\n")

# Step 5: Filtering after aggregation
# Only fuel types with average price > 20000-
high_price_fuel = agg_stats[agg_stats['Price']['mean'] > 20000]
print("Fuel Types with Average Price > 20000:\n", high_price_fuel, "\n")

Original Dataset:
    Car_ID Model  Price FuelType   HP  Automatic
0       1     A  15000   Petrol  100          0
1       2     B  20000   Diesel  110          1
2       3     A  16000   Petrol  105          0
3       4     C  22000   Diesel  120          1
4       5     B  21000   Diesel  115          1
5       6     C  23000   Petrol  130          0

Average Price per FuelType:
   FuelType    Price
0   Diesel  21000.0
1   Petrol  18000.0

Average Price per Model and FuelType:
   Model FuelType    Price
0     A   Petrol  15500.0
1     B   Diesel  20500.0
2     C   Diesel  22000.0
3     C   Petrol  23000.0

Aggregated Statistics per FuelType:
   FuelType    Price                               HP Car_ID
               mean    max    min    sum        mean  count
0   Diesel  21000.0  22000  20000  63000  115.000000      3
1   Petrol  18000.0  23000  15000  54000  111.666667      3

Fuel Types with Average Price > 20000:
   FuelType    Price                          HP Car_ID
               mean    max    min    sum   mean  count
0   Diesel  21000.0  22000  20000  63000  115.0      3

# 4. Database Integration – pulling data from SQL, NoSQL, or APIs into a unified table.

### a) Sql database

In [ ]:
import pandas as pd
import sqlite3  # You can use pymysql for MySQL or psycopg2 for PostgreSQL


# Example: SQLite database

conn = sqlite3.connect('cars_database.db')  # put your database name

# Query data
df_prices = pd.read_sql_query("SELECT * FROM CarPrices", conn)
df_features = pd.read_sql_query("SELECT * FROM CarFeatures", conn)

# Close connection
conn.close()

# Preview datasets
print("Prices:\n", df_prices.head())
print("Features:\n", df_features.head())

## b) Nosql database

In [ ]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient("mongodb://localhost:27017/") # Put here your mongo uri
db = client["car_database"]

# Load collections
prices_collection = db["CarPrices"]
features_collection = db["CarFeatures"]

# Convert to DataFrame
df_prices = pd.DataFrame(list(prices_collection.find()))
df_features = pd.DataFrame(list(features_collection.find()))

# Preview
print("Prices:\n", df_prices.head())
print("Features:\n", df_features.head())

## c) Api

In [ ]:
import requests

# Example API endpoint
url = "https://api.example.com/cars"

# GET request
response = requests.get(url)

# Check status
if response.status_code == 200:
    data = response.json()  # returns list of dictionaries
    df_api = pd.DataFrame(data)
    print("API Data:\n", df_api.head())
else:
    print("API request failed with status:", response.status_code)

### now once you get the data you can merge it

In [ ]:
# Assume df_prices from SQL, df_features from MongoDB, df_api from API
# Standardize key column
df_features.rename(columns={'ID':'Car_ID'}, inplace=True)
df_api.rename(columns={'car_id':'Car_ID'}, inplace=True)

# Merge datasets on Car_ID
df_merged = pd.merge(df_prices, df_features, on='Car_ID', how='outer')
df_merged = pd.merge(df_merged, df_api, on='Car_ID', how='outer')

print("Merged Dataset:\n", df_merged.head())