# 1. What is indexing? 

An index is like the address of each row in a DataFrame.

It uniquely identifies rows.

It can be numbers (default: 0,1,2...) or custom labels (names, dates, etc.).

Index helps you quickly locate data.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Toyota.csv')

print(df.shape)
print(df.info())
print(df.head())
print(df.tail())
print(df.describe())

(1436, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None
   Unnamed: 0  Price   Age     KM FuelType  HP  MetColor  Automatic    CC  \
0           0  13500  23.0  46986   Diesel  90       1.0          0  2000
1           1  13750  23.0  72937   Diesel  90       1.0          0  2000
2           2  13950  24.0  41711   Diesel  90       NaN          0  2000
3           3  14950  26.0  48000   Diesel  90       0.0          0  2000
4           4  13750  30.0  38500   Diesel  90       0.0          0  2000

   Doors  Weight
0  three    1165
1      3    1165
2      3    1165
3      3    1165
4      3    1170
      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

     Doors  Weight
1431     3    1025
1432     3    1015
1433     3    1015
1434     3    1015
1435     5    1114
        Unnamed: 0         Price          Age     MetColor    Automatic  \
count  1436.000000   1436.000000  1336.000000  1286.000000  1436.000000
mean    717.500000  10730.824513    55.672156     0.674961     0.055710
std     414.681806   3626.964585    18.589804     0.468572     0.229441
min       0.000000   4350.000000     1.000000     0.000000     0.000000
25%     358.750000   8450.000000    43.000000     0.000000     0.000000
50%     717.500000   9900.000000    60.000000     1.000000     0.000000
75%    1076.250000  11950.000000    70.000000     1.000000     0.000000
max    1435.000000  32500.000000    80.000000     1.000000     1.000000

                CC      Weight
count  1436.000000  1436.00000
mean   1566.827994  1072.45961
std     187.182436    52.64112
min    1300.000000  1000.00000
25%    1400.000000  1040.00000
50%    1600.000000  1070.00000
75%    1600.000000  1085.00000
max    2000.000000  1615.00000

# 2. Accessing Columns & Rows

In [ ]:
# Access a column
print(df["FuelType"])

# Access multiple columns
print(df[["Price", "Age"]])

# Access a row by index
print(df.loc[2])   # Row with label 2

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object
      Price   Age
0     13500  23.0
1     13750  23.0
2     13950  24.0
3     14950  26.0
4     13750  30.0
...     ...   ...
1431   7500   NaN
1432  10845  72.0
1433   8500   NaN
1434   7250  70.0
1435   6950  76.0

[1436 rows x 2 columns]
Unnamed: 0         2
Price          13950
Age             24.0
KM             41711
FuelType      Diesel
HP                90
MetColor         NaN
Automatic          0
CC              2000
Doors              3
Weight          1165
Name: 2, dtype: object

# 3. .loc vs .iloc

Method	Uses	               
.loc	(Label-based)
.iloc	(Position-based (numbers only))

In [ ]:
# loc → row label + column name

print(df.loc[1, "KM"])     


# iloc → row number + column number

print(df.iloc[1, 2])

72937
23.0

# 4. Boolean Indexing (Filtering Rows by Condition)

In [ ]:
# Example: Age > 25
print(df[df["Age"] > 25])

# Example: FuelType in Petrol
print(df[df["FuelType"] == "Petrol"])

# Multiple conditions (AND)
print(df[(df["Age"] > 30) & (df["Price"] > 15000)])

      Unnamed: 0  Price   Age     KM FuelType    HP  MetColor  Automatic  \
3              3  14950  26.0  48000   Diesel    90       0.0          0
4              4  13750  30.0  38500   Diesel    90       0.0          0
5              5  12950  32.0  61000   Diesel    90       0.0          0
6              6  16900  27.0     ??   Diesel  ????       NaN          0
7              7  18600  30.0  75889      NaN    90       1.0          0
...          ...    ...   ...    ...      ...   ...       ...        ...
1429        1429   8950  78.0  24000   Petrol    86       1.0          1
1430        1430   8450  80.0  23000   Petrol    86       0.0          0
1432        1432  10845  72.0     ??   Petrol    86       0.0          0
1434        1434   7250  70.0     ??      NaN    86       1.0          0
1435        1435   6950  76.0      1   Petrol   110       0.0          0

        CC Doors  Weight
3     2000     3    1165
4     2000     3    1170
5     2000     3    1170
6     2000     3    1245
7     2000     3    1245
...    ...   ...     ...
1429  1300     5    1065
1430  1300     3    1015
1432  1300     3    1015
1434  1300     3    1015
1435  1600     5    1114

[1211 rows x 11 columns]
      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
8              8  21500  27.0  19700   Petrol  192       0.0          0  1800
10            10  20950  25.0  31461   Petrol  192       0.0          0  1800
11            11  19950  22.0  43610   Petrol  192       0.0          0  1800
12            12  19600  25.0  32189   Petrol  192       0.0          0  1800
13            13  21500  31.0  23000   Petrol  192       1.0          0  1800
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1430        1430   8450  80.0  23000   Petrol   86       0.0          0  1300
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

     Doors  Weight
8        3    1185
10       3    1185
11       3    1185
12       3    1185
13       3    1185
...    ...     ...
1430     3    1015
1431     3    1025
1432     3    1015
1433     3    1015
1435     5    1114

[1177 rows x 11 columns]
     Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
13           13  21500  31.0  23000   Petrol  192       1.0          0  1800
14           14  22500  32.0  34131   Petrol  192       1.0          0  1800
38           38  15750  32.0  25329   Petrol   97       1.0          0  1400
49           49  21950  31.0  64982   Petrol  192       NaN          0  1800
62           62  18750  31.0  36544   Petrol  110       1.0          0  1600
76           76  18750  31.0  25266   Petrol  110       1.0          0  1600
523         523  18950  49.0  49568   Petrol  110       1.0          0  1600

    Doors  Weight
13      3    1185
14      3    1185
38      3    1100
49      5    1195
62      5    1130
76      5    1130
523     3    1105

# 5. Setting & Resetting Index

In [ ]:
# Set Age as index
df2 = df.set_index("Age")
print(df2)

# Reset index properly
df2 = df2.reset_index()   # OR df2.reset_index(inplace=True)
print(df2)

# Set Age as index again
df2.set_index("Age", inplace=True)
print(df2)

      Unnamed: 0  Price     KM FuelType   HP  MetColor  Automatic    CC  \
Age
23.0           0  13500  46986   Diesel   90       1.0          0  2000
23.0           1  13750  72937   Diesel   90       1.0          0  2000
24.0           2  13950  41711   Diesel   90       NaN          0  2000
26.0           3  14950  48000   Diesel   90       0.0          0  2000
30.0           4  13750  38500   Diesel   90       0.0          0  2000
...          ...    ...    ...      ...  ...       ...        ...   ...
NaN         1431   7500  20544   Petrol   86       1.0          0  1300
72.0        1432  10845     ??   Petrol   86       0.0          0  1300
NaN         1433   8500  17016   Petrol   86       0.0          0  1300
70.0        1434   7250     ??      NaN   86       1.0          0  1300
76.0        1435   6950      1   Petrol  110       0.0          0  1600

      Doors  Weight
Age
23.0  three    1165
23.0      3    1165
24.0      3    1165
26.0      3    1165
30.0      3    1170
...     ...     ...
NaN       3    1025
72.0      3    1015
NaN       3    1015
70.0      3    1015
76.0      5    1114

[1436 rows x 10 columns]
       Age  Unnamed: 0  Price     KM FuelType   HP  MetColor  Automatic    CC  \
0     23.0           0  13500  46986   Diesel   90       1.0          0  2000
1     23.0           1  13750  72937   Diesel   90       1.0          0  2000
2     24.0           2  13950  41711   Diesel   90       NaN          0  2000
3     26.0           3  14950  48000   Diesel   90       0.0          0  2000
4     30.0           4  13750  38500   Diesel   90       0.0          0  2000
...    ...         ...    ...    ...      ...  ...       ...        ...   ...
1431   NaN        1431   7500  20544   Petrol   86       1.0          0  1300
1432  72.0        1432  10845     ??   Petrol   86       0.0          0  1300
1433   NaN        1433   8500  17016   Petrol   86       0.0          0  1300
1434  70.0        1434   7250     ??      NaN   86       1.0          0  1300
1435  76.0        1435   6950      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]
      Unnamed: 0  Price     KM FuelType   HP  MetColor  Automatic    CC  \
Age
23.0           0  13500  46986   Diesel   90       1.0          0  2000
23.0           1  13750  72937   Diesel   90       1.0          0  2000
24.0           2  13950  41711   Diesel   90       NaN          0  2000
26.0           3  14950  48000   Diesel   90       0.0          0  2000
30.0           4  13750  38500   Diesel   90       0.0          0  2000
...          ...    ...    ...      ...  ...       ...        ...   ...
NaN         1431   7500  20544   Petrol   86       1.0          0  1300
72.0        1432  10845     ??   Petrol   86       0.0          0  1300
NaN         1433   8500  17016   Petrol   86       0.0          0  1300
70.0        1434   7250     ??      NaN   86       1.0          0  1300
76.0        1435   6950      1   Petrol  110       0.0          0  1600

      Doors  Weight
Age
23.0  three    1165
23.0      3    1165
24.0      3    1165
26.0      3    1165
30.0      3    1170
...     ...     ...
NaN       3    1025
72.0      3    1015
NaN       3    1015
70.0      3    1015
76.0      5    1114

[1436 rows x 10 columns]